.col-xs-3{
    padding-left: 25px;
    width: 25%;
}

#cityLabel{
    font-weight: bold;
    font-size: x-large;
}

#searchFas{
    background-color: #3399FF;
    color: white;
    height: 35px;
    width: 35px;
    text-align: center;
    padding-top: 9px;
    /* margin-bottom: 50px; */
    margin-left: -15px;   
    float: right;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

#uvIndex{
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.city-view{
    float: left;
}
.wi-day-sunny:before {
    content: "\f00d";
  }
.col-xs-9{
    padding-left: 25px;
    width: 75%;
}

.card-body{
    width: 100%;
    float: right;
}

#fiveDayForecast{
    float: left;
    width: 100%;
    visibility: hidden;
}
.card-group{
    width: 100%;
}

.futureForecast{
    background-color: #3399FF;
    margin: 25px;
    color: white;
}

.danger{
    background-color: red;
    color: white;
    width: 45px;
    text-align: center;
}

.normal{
    background-color: green;
    color: white;
    width: 45px;
    text-align: center;
}

.caution{
    background-color: yellow;
    color: black;
    width: 45px;
    text-align: center;
}

#tempElement4{
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.col-xs-12{
    width: 100%;
}

.row{
    padding-left: 10px;
}

#cityLabel, #city-input{
    padding-left: 10px;
}